@import url('yui-reset.css');

* {
	border: 0px solid #eaeaea;
	margin: 0px;
	padding: 0px;
	list-style: none;
	}
/* END reset */

/* BEGIN redefine gobal styles for selectors */	
html, body, #cont { /* get rid of tables */
	width: 100%;
	height: 100%;
	overflow: hidden;
	}
	
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px; 
	cursor: default;
	color: #000000;
	}
	
h1, h2 {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 40px;
	}
	
h2, .box div img {
	padding-bottom: 10px;
	}

a {
	text-decoration: none;
	color: #000000;
	outline: 0px;
	}
	
img { 
	display: block;
	}

p {
	font-family: Helvetica, Arial, sans-serif;
	}
/* END redefine gobal styles for selectors */

/* BEGIN Background CSS */
	html { 
		background: url(../images/upsidedown.png) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	} /* using for image background insert and placement; thank you CSS3 */
/* END Background CSS */

/* BEGIN Container CSS */
#cont {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 70;
	overflow: auto; /* content auto clipped, use scroll bar to see rest of content */
	}
/* END Container CSS */

/* BEGIN Nav CSS */
#nav { /* setting the rightside's nav box's position */
	position: absolute;
	bottom: 20px; /* moves whole nav box */
	left: 110px; /* moves whole nav box */
	z-index: 80; /* higher z-index then #cont -> higher stack order -> is placed infront/on top */
	width: 350px; /* determines length of transparent bar */ 
	line-height: 12px; /* how text is spaced */
	}
	
#nav div { /* setting up the rightside's nav box's look */
	height: 75px; /* position of bar */
	background: #000000;
	opacity: 0.6; /* makes the bar transparent */
	filter: alpha(opacity=60); /* compatibility for IE8 and earlier */
	padding: 7px 0 0 7px;
	}

#titlenav { /* positions titlenav box and opacity */
	position: relative;
	left: -110px; /* moves titlenav box; match nav left to eliminate space */
	margin-bottom: -63px;
	width: 110px; /* width of titlebox */
	opacity: 0.9;
	filter: alpha(opacity=90); /* compatibility for IE8 and earlier */
	}
	
#titlenav a { /* deals with titlenav linking */
	padding: 41px 10px 10px 0; /* don't touch */
	color: #ffffff;
	background: #000000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	text-align: right;
	display: block;
	}
	
#titlenav a:hover { /* makes titlenav box change color when hover */
	background: #fbb111; /* orange */
	color: #000000;
	}
	
li a {
	height: 12px;
	padding: 0px 5px;
	font-weight: bold;
	color: #9c9c9c;
	display: block;
	}
	
li a:hover {
	color: #EFAD00; /* orange */
	}
	
li.cur a {
	color: #75C500; /* lime green */	
}
/* END Nav CSS */

/* Main Content box CSS */
.box {
	position: relative;
	margin-left: auto; 
	top: 10%;
	right: 100px;
	width: 500px;
	padding-bottom: 20px; /* match bottom position of nav box */
	}
	
.box div {
border: thin orange dotted;
	line-height: 12px;
	background: #ffffff;
	padding: 0px 30px 30px;
	opacity: 0.95;
	filter: alpha(opacity=95); /* compatibility for IE8 and earlier */
	}
	
.box div a {
	text-decoration: underline;
	}

h3 {
	position: relative;
	border-bottom-width: 1px;
	padding: 30px 30px 10px 30px;
	margin: 20px -15px 5px;
	text-transform: uppercase;
	line-height: 10px;
	font-weight: bold;
	}

#comingsoon { /* specifically for poistioning COMINGSOON text on COMINGSOON page */
	top: 15%;
	}
/* END Main Content box CSS */

/* Custom code for this p1 */
.bold {
	font-weight: 700;
	}

.floatel {
	float: left;
	}

.clear {
	clear: both;
	display: block; 
	}
/* END Custom code for p1 */