body {
	margin: 0;
	font-family: 'RobotoRegular', sans-serif;
}

ul {
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
} /* remove all style for unordered lists */

.clear {clear: both;}

#container {
border: 1px solid red;
	max-width: 1012px;
	height: auto; /* NOTE: YOU ARE GOING TO WANT TO MAKE ALMOST ALL THE HEIGHTS AUTO TO KEEP THEM FLEXIBLE */
	margin-left: auto; /* to center */
	margin-right: auto; /* to center */
}

header {
border: 2px solid grey;
	background-color: grey;
	font-size: 12px;
	position: fixed;
	top: 0;
	width: 10000px;
}

footer {
border: 1px solid violet;
	background-color: violet;
	font-size: 12px;
	position: fixed;
	bottom: 0;
	width: 10000px;
}

.col-mask {
border: 1px solid purple;
	width: 1010px;
	height: auto;
}
.col-mid {
border: 1px solid yellow;
	width: 1008px;
	height: auto;
}

.col-left {
border: 1px solid blue;
	width: 1006px; /* w; w = x + y */ /* must be 1006 for now bc of the 1px borders on col-1,2,3; change to 1000px later */
	height: auto;	
}

.col-1 {
border: 1px solid green;
	width: 146px; /* x; w = x + y */
	height: auto; /* probably don't need to say this though */
	float: left;
	margin: 0px;
	padding: 0px;
}

#main_nav {
border: 1px solid brown;
	position: fixed; /* fix in position it loads. Assuming this was set up correctly, it would be in the right place at start instead of offset right now */ 
	width: 146px; /* actually want to inherit from .col-1 */
	font-family: 'RobotoRegular' ,sans-serif;
	font-size: 10px;
	text-transform: uppercase;
}

#main_nav li, .subnav li {
	padding: 10px;
	float: none; /* need to negate earlier float inherited from .col-1 */
}

#main_nav a, .subnav a {color: #acacac; text-decoration: none;}

#main_nav a:link, #main_nav a:visited, .subnav a:link, .subnav a:visited {background-color: none; color: #071844;}
#main_nav a:hover, .subnav a:hover {background-color: none; color: #ababab;}
#main_nav a:active, .subnav a:active {background-color: aqua;}

#top_logo{
	background-color: white; /* to get rid of I AM HERE highlight for now */	
}

#top_logo img {
	width: 119px;
	height: 37px;
}

.subnav {
border: 1px solid red;
	position: fixed; /* fix in position it loads. Assuming this was set up correctly, it would be in the right place at start instead of offset right now */ 
	top: 108px; /* to match current main_nav position */
	width: 122px; /* actually want to inherit from .col-2-sub1 */
	font-family: 'RobotoRegular' ,sans-serif;
	font-size: 10px;
	text-transform: uppercase;
}

.highlight {
	background-color: rgba(240,236,106,0.7);
}

.col-2 {
border: 1px solid aqua;
	width: 856px; /* y; w = x + y */
	height: auto; /* variable, but set for now becasue no content in div yet */
	float: left;
	margin: 0px;
	padding: 0px;
}

#content {
border: 1px solid black;

}

.slideshow {
border: 1px solid orange;
	max-height: 538px; /* image width was set in responsive-slides.js */
	overflow: hidden;
	background: center;
}

/* probably have to center the image using responsive-slides.js
.slideshow ul li{
	border: 5px solid gold;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
*/

#prototypes {
	font-family: 'RobotoRegular' ,sans-serif;
	font-size: 12px;
}

#prototypes li {
	padding: 10px;
	float: none; /* need to negate earlier float inherited from .col-2 */
	text-transform: uppercase;
}

.col-2-sub1 {
	border: 1px solid green;
	width: 122px; /* ys1; y = ys1 + ys2 + ys3 */
	min-height: 500px;
	float: left;
}

.col-2-sub2 {
	border: 1px solid blue;
	width: 122px; /* ys2; y = ys1 + ys2 + ys3 */
	min-height: 500px;
	float: left;
}

.col-2-sub3 {
border: 1px solid orange;
	width: 592px; /* ys3; y = ys1 + ys2 + ys3 */
	height: auto; /* probably don't need to say this though */
	float: left;
}

#main_information {
	font-family: 'RobotoRegular' ,sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}

#main_information h3 {
	font-family: 'RobotoThin' ,sans-serif;
	font-size: 36px;
}

#main_information p {
	font-family: 'RobotoRegular' ,sans-serif;
	font-size: 18px;

} /* Repeated information from #main_information */

.hide {
	display: none;
}

.show {
	
}


.alert {
	background-color: #1cbbe2;
}

.error {
	background-color: red;
}

/* styled for v_index_about */
.sub_box1 {
	margin: 10px;
	font-weight: 500;
	padding: 10px;
	font-size: 13px;
	float: left;
}
.sub_box2 {
	width: 270px;
	height: 270px;
	float: left;
}
.sub_box2 img, .sub_box2 span {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center
}

/* styled for v_users_signup */
.module {
	border: 1px solid red;
}
.field-wrapper {
	float: left;
}
.module .header {
	font-size: 200%;
	text-transform: uppercase;	
}
.module .header p {
	font-size: 50%;
}
.module label {
	text-transform: uppercase;
}

.module #button {
	color: #FFFFFF;
	font-family: 'RobotoBold', sans-serif;
	text-transform: uppercase;
	background-color: #DD2925; 
	border: none;
	border-radius: 3px;
	width: 100px;
	height: 25px;
}

/* styled for v_manage_products */
.tiled {
	border: 1px solid #27bcca;
	max-width: 250px;
	max-height: 500px;
	float: left;
	font-size: 10px;
	
}

.tiled img {
	border: 1px solid red;
	max-width: 50px; /* FOR TESTING */
}

.active {
	background-color: orange;
}
