header, body, footer {
	font-family: 'RobotoRegular', sans-serif;
}

ul {
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
} /* remove all style for unordered lists */

#container {
border: 1px solid red;
	width: 1012px;
	height: auto; /* NOTE: YOU ARE GOING TO WANT TO MAKE ALMOST ALL THE HEIGHTS AUTO TO KEEP THEM FLEXIBLE */
}

.clear {clear: both;}

header {
border: 1px solid green;
	
}


#content {
border: 1px solid black;

}

.col-mask {
border: 1px solid purple;
	width: 1010px;
	height: auto;
}
.col-mid {
border: 1px solid yellow;
	width: 1008px;
	height: auto;
}

.col-left {
border: 1px solid blue;
	width: 1006px; /* w; w = x + y */ /* must be 1006 for now bc of the 1px borders on col-1,2,3; change to 1000px later */
	height: auto;
	
	
}

.col-1 {
border: 1px solid green;
	width: 146px; /* x; w = x + y */
	height: 1000px; /* variable, but set for now becasue no content in div yet; It probably isn't going to matter since the content here will be fixed (probably) */
	float: left;
	margin: 0px;
	padding: 0px;
}

#main_nav {
border: 1px solid brown;
	position: fixed; /* fix in position it loads. Assuming this was set up correctly, it would be in the right place at start instead of offset right now */ 
	width: 146px; /* actually want to inherit from .col-1 */
	font-family: 'RobotoRegular' ,sans-serif;
	font-size: 10px;
	text-transform: uppercase;
}

#main_nav li {
	padding: 10px;
	float: none; /* need to negate earlier float inherited from .col-1 */
}

#main_nav a {color: #acacac;}

#main_nav a:link, #main_nav a:visited {background-color: none; color: #071844;}
#main_nav a:hover {background-color: white; color: #acacac;}
#main_nav a:active {background-color: aqua;}

/* Will have to figure out how to specify height and width of an imported image
#top_logo {
	background: url(/images/raerden/RaerdenLogo_626w_202l.png), no-repeat;
	display: block;
	width: 119px;
	height: 37px;
	overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
*/

#top_logo img {
	width: 119px;
	height: 37px;
}


.col-2 {
border: 1px solid aqua;
	width: 856px; /* y; w = x + y */
	height: auto; /* variable, but set for now becasue no content in div yet */
	float: left;
	margin: 0px;
	padding: 0px;
}

#bespoke {
	font-family: 'RobotoRegular' ,sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}

#bespoke h3 {
	font-family: 'RobotoThin' ,sans-serif;
	font-size: 21px;
}

#bespoke p {
	font-family: 'RobotoRegular' ,sans-serif;
	font-size: 12px;
}

#prototypes {
	font-family: 'RobotoRegular' ,sans-serif;
	font-size: 12px;
}

#prototypes li {
	padding: 10px;
	float: none; /* need to negate earlier float inherited from .col-2 */
	text-transform: uppercase;
}

.col-2-sub1 {
	border: 1px solid green;
	width: 116px; /* ys1; y = ys1 + ys2 + ys3 */
	height: 1000px; /* variable, but set for now becasue no content in div yet */
	float: left;
}

.slideshow {
border: 1px solid orange;
	max-height: 538px;
	overflow: hidden;
	background: center;
}

.col-2-sub2 {
	border: 1px solid blue;
	width: 116px; /* ys2; y = ys1 + ys2 + ys3 */
	height: 1000px; /* variable, but set for now becasue no content in div yet */
	float: left;
}

#submenu1 {
	font-family: 'RobotoRegular' ,sans-serif;
	font-size: 12px;
}

#submenu1 li {
	padding: 10px;
	float: none; /* need to negate earlier float inherited from .col-2 */
	text-transform: uppercase;
}

#submenu2 {
	font-family: 'RobotoRegular' ,sans-serif;
	font-size: 12px;
}

#submenu2 li {
	padding: 10px;
	float: none; /* need to negate earlier float inherited from .col-2 */
	text-transform: uppercase;
}

.col-2-sub3 {
border: 1px solid orange;
	width: 618px; /* ys3; y = ys1 + ys2 + ys3 */
	height: 1000px; /* variable, but set for now becasue no content in div yet */
	float: left;
}


footer {
border: 1px solid violet;
	clear: both;
}


/* sytled for v_users_signup */
.module {
	border: 1px solid red;
}
.field-wrapper {
	float: left;
}
.module .header {
	font-size: 200%;
	text-transform: uppercase;	
}
.module .header p {
	font-size: 50%;
}
.module label {
	text-transform: uppercase;
}

.module #button {
	color: #FFFFFF;
	font-family: 'RobotoBold', sans-serif;
	text-transform: uppercase;
	background-color: #DD2925; 
	border: none;
	border-radius: 3px;
	width: 100px;
	height: 25px;
}

